@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220.0 17.2% 82.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0.0 100.0% 50.0%;
    --destructive-foreground: 210 20% 98%;
    --border: 0 0% 80%;
    --input: 0 0% 80%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
    --protheus-fundo: #066f95;
    --protheus-hover: #044d68;
  }
 
  .dark {
    --background: 220 16% 16%;
    --foreground: 210 20% 98%;
    --card: 220 16% 14%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 16% 25%;
    --muted-foreground: 210 20% 98%;
    --accent: 214.9 24.0% 35.1%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0.0 100.0% 50.0%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 16% 41%;
    --input: 220 16% 41%;
    --ring: 216 12.2% 83.9%;
    --protheus-fundo: #066f95;
    --protheus-hover: #044d68;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Customizando a seta "próximo" */
.swiper-button-next {
  color: white; /* Ou qualquer cor que você deseja */
  mix-blend-mode: difference; /* Isso fará com que a cor seja o negativo do fundo */

}

/* Alterar o tamanho das setas */
.swiper-button-next, .swiper-button-prev {
  width: 40px;
  height: 40px;
  margin-left: -0.4rem;
}

.swiper-slide {
  height: auto !important;
}

/* Estilo Geral */
.ProseMirror {
  caret-color: auto;
  outline: none;
  min-height: 200px;
}

.ProseMirror:empty:before {
  content: attr(data-placeholder);
  color: #999;
  pointer-events: none;
  display: block;
}


/* Espaçamento entre elementos */
.ProseMirror > * + * {
  margin-top: 0.75em;
}

/* Listas */
.ProseMirror ul {
  padding: 0 1rem;
  list-style: disc !important;
}

.ProseMirror ol {
  padding: 0 2rem;
  list-style: decimal !important;
}

/* Cabeçalhos */
.ProseMirror h1 {
  line-height: 2.5;
  font-size: larger;
  font-weight: bold;
}

.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

/* Código Inline */
.ProseMirror code {
  background-color: rgba(97, 97, 97, 0.1); /* Ajustado para compatibilidade */
  color: #616161;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

/* Blocos de Código */
.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

/* Citação */
.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #999999;
  font-style: italic;
  color: #666;
}

/* Linha Horizontal */
.ProseMirror hr {
  border: none;
  border-top: 3px solid #999999;
  margin: 2rem 0;
}

/* Heading de nível 3 (Personalizado) */
.heading3 {
  font-size: 33px;
}
