@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  :root {
    --background: 220, 16%, 96%; /* branco gelo */
    --foreground: 222, 20%, 16%; /* cinza escuro */

    --card: 220, 16%, 96%; /* cinza bem claro */
    --card-foreground: 222, 20%, 16%; /* cinza escuro */

    --popover: 220, 16%, 96%; /* cinza bem claro */
    --popover-foreground: 222, 20%, 16%; /* cinza escuro */

    --primary: 222, 20%, 70%; /* cinza mais neutro */
    --primary-foreground: 220, 16%, 96%; /* branco gelo */

    --secondary: 215, 14%, 80%; /* cinza muito claro com leve tom azulado */
    --secondary-foreground: 222, 20%, 16%; /* cinza escuro */

    --muted: 215, 14%, 80%; /* cinza claro */
    --muted-foreground: 222, 20%, 16%; /* cinza escuro */

    --accent: 215, 20%, 50%;
    --accent-foreground: 222, 20%, 16%;

    --destructive: 0, 80%, 50%; /* vermelho */
    --destructive-foreground: 0 0% 98%;
    --border: 222, 20%, 70%; /* cinza claro */
    --input: 222, 20%, 70%; /* cinza claro */

    --ring: 222, 20%, 70%; /* cinza neutro */

    --radius: 0.5rem;

    --chart-1: 12 76% 61%; /* cores de gráfico */
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 220, 16%, 16%; /* cinza bem escuro */
    --foreground: 222, 20%, 96%; /* cinza claro */

    --card: 220, 16%, 16%; /* cinza um pouco mais claro */
    --card-foreground: 222, 20%, 96%; /* cinza claro */

    --popover: 220, 16%, 16%; /* cinza um pouco mais claro */
    --popover-foreground: 222, 20%, 96%; /* cinza claro */

    --primary: 222, 20%, 65%; /* cinza claro */
    --primary-foreground: 220, 16%, 16%; /* cinza bem escuro */

    --secondary: 215, 14%, 25%; /* cinza escuro */
    --secondary-foreground: 222, 20%, 96%; /* cinza claro */

    --muted: 215, 14%, 25%; /* cinza escuro */
    --muted-foreground: 222, 20%, 96%; /* cinza claro */

    --accent: 215, 14%, 30%; /* cinza escuro */
    --accent-foreground: 222, 20%, 96%; /* cinza claro */

    --destructive: 0, 80%, 50%; /* vermelho */
    --destructive-foreground: 222, 20%, 96%; /* cinza claro */

    --border: 222, 20%, 40%; /* cinza escuro */
    --input: 222, 20%, 40%; /* cinza escuro */

    --ring: 222, 20%, 40%; /* cinza neutro */

    --chart-1: 220 70% 50%; /* cores de gráfico */
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Customizando a seta "próximo" */
.swiper-button-next {
  color: white; /* Ou qualquer cor que você deseja */
  mix-blend-mode: difference; /* Isso fará com que a cor seja o negativo do fundo */

}

/* Alterar o tamanho das setas */
.swiper-button-next, .swiper-button-prev {
  width: 40px;
  height: 40px;
  margin-left: -0.4rem;
}

